
<div class="campus-ambassador">
  <div class="container">
    <h2 class="title"> <span>Campus Ambassador</span></h2>
    <p class="moti-para">
      Here goes some motivation for the ambassador. so that they can fuck "The" mama. And also can
      help "Moriya" to fuck the startup.
    </p>
    <form name="campusAmbassador" novalidate="novalidate">
      <p> 
        <label>Name:</label>
        <input type="text" data-ng-model="user.name"/>
      </p>
      <p>
        <label>Email:</label>
        <input type="email" data-ng-model="user.email"/>
      </p>
      <p>
        <label>Mobile Number:</label>
        <input type="number" data-ng-model="user.mobileNumber"/>
      </p>
      <p class="submit">
        <button type="submit" disabled="disabled">Submit</button>
      </p>
    </form>
  </div>
</div>