<div class="fix-plans" id="fix-plans"
>
    <!--<div class="types-of-pre-plans">
        <div class="pre-plan family-plan">
            <div class="title"><span>family travel</span></div>
        </div>
        <div class="pre-plan group-plan">
            <div class="title"><span>group cruises</span></div>
        </div>
        <div class="pre-plan honeymoon-package">
            <div class="title"><span>honeymoon package</span></div>
        </div>
    </div>-->
    <div class="summery-of-plans row">
        <h1 style="text-align:center; color: dimgray; padding: 40px 5px 30px;">Our Services</h1>
        <div class="col-lg-6 col-md-6 col-sm-6  ">
            <div class="plan">
                <div class="heading"><span>Plan</span></div>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-2x fa-map-marker fa-fw"></i> &nbsp; <span>Select your destination.</span></li>
                        <li><i class="fa fa-2x fa-pencil-square fa-fw"> </i> &nbsp;<span> View or Customize your plan.</span></li>
                        <li><i class="fa fa-2x fa-money fa-fw"></i> &nbsp; <span>Fill personal and other Trip Related Info.</span></li>
                        <li><i class="fa fa-2x fa-credit-card fa-fw"> </i> &nbsp;<span> 
Pay the cost of plan and get your detailed plan in guaranteed 24 hours after the Confirmation of payment. <br>
<p>you can see the sample plan <a href="http://www.tourepedia.com/anandsh/#/sample-plan">Here.</a></p> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6  book">
            <div class="plan">
                <div class="heading"><span>Plan &amp; Book</span></div>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-2x fa-hand-o-up fa-fw"> </i> &nbsp; <span>Select your destination and View or Customize your trip</span></li>
                        <li><i class="fa fa-2x fa-edit fa-fw"> </i> &nbsp; <span>Fill personal and other Trip Related Info. we will get in touch in some time.</span></li>
                        <li><i class="fa fa-2x fa-credit-card fa-fw"> </i> &nbsp;<span> After Confirmation of Trip, Pay as per the planned trip in Next 48 hours.</span></li>
                        <li><i class="fa fa-2x fa-ticket fa-fw"> </i> &nbsp; <span>get your detailed plan and Related Tickets in guaranteed 24 hours after the Confirmation of payment. <br>
<p>you can see the sample plan <a href="http://www.tourepedia.com/anandsh/#/sample-plan">Here.</a></p> 
</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line">&amp; then pack your bags...</div>
</div>















