<div class="sample-plan-container">
    <div class="sample-plan">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/11.jpg" alt="Day 5 Info"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/12.jpg" alt="Day 1 Info"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/13.jpg" alt="Day 1 Info"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/14.jpg" alt="Day 2 Info"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/15.jpg" alt="Day 3 Info"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-container">
                    <img src="./tourepedia/images/sample-plan/16.jpg" alt="Day 4 Info"/>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .sample-plan-container{
        background-color: #ebe9e9;
        padding: 20px;
    }
    .sample-plan-container .sample-plan{
        background: white;
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 10px;
        border-radius: 5px;
    }
    .sample-plan-container .sample-plan .image-container{
        margin: 10px;
        padding: 10px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
    }
    .sample-plan-container .sample-plan .image-container img{
       display: block;
        max-width: 100%;
        height: auto;
        min-height: 100px;
    }

</style>