<footer>
<div class="footer-container">
    <div class="information">
        <h2>information</h2>
        <ul>
            <li><a  ui-sref="aboutUs">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a ui-sref="privacyPolicies">Privacy Policies</a></li>
            <li><a ui-sref="termConditions">Terms and Conditions</a></li>
        </ul>
    </div>
    <div class="customer-service">
        <h2>customer service</h2>
        <ul>
            <!--<li><a href="#">Contact Us</a></li>-->
            <li><a href="#">Cancellation Policies</a></li>
            <li><a href="#">Site Map</a></li>
            <!--<li><a href="#">Information Services</a></li>-->
        </ul>
    </div>
    <!--<div class="extras">-->
        <!--<h2>extras</h2>-->
        <!--<ul>-->
            <!--<li><a href="#">Brands</a></li>-->
            <!--<li><a href="#">Gift Vouchers</a></li>-->
            <!--<li><a href="#">Affiliates</a></li>-->
            <!--<li><a href="#">Specials</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="my-account">-->
        <!--<h2>my account</h2>-->
        <!--<ul>-->
            <!--<li><a href="#">My Account</a></li>-->
            <!--<li><a href="#">Order History</a></li>-->
            <!--<li><a href="#">Wishlist</a></li>-->
            <!--<li><a href="#">Newsletter</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="follow-us">
        <h2>follow us</h2>
        <ul>
            <li><a target= '_blank' href="https://www.facebook.com/tourepedia1">Facebook <i class="fa fa-facebook-f"></i></a></li>
            <li><a target= '_blank' href="https://twitter.com/tourepedia">Twitter <i class="fa fa-twitter"></i></a></li>
            <li><a target= '_blank' href="https://plus.google.com/u/0/117918143779041600948">Google + <i class="fa fa-google-plus"></i></a></li>
            <li><a target= '_blank' href="https://www.linkedin.com/company/tourepedia/">Linkedin <i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="contact-us">
        <h2>contact us</h2>
        <ul>
            <li>+91-1130323774</li>
            <li>+91-9005505374</li>
            <li>contact@tourepedia.com</li>
        </ul>
    </div>
</div>
</footer>

<style>
  @media (max-width: 530px) {
    footer{
      position: relative;
      height: auto;
      padding-top:5px;
    }
    footer h2{
      text-align: center;
      margin: 0;
    }
    body{
      padding-bottom: 0px;
    }
    footer .footer-container{
      display: block;
    }
    footer .footer-container>div{
      padding: 10px 0px;
    }
    footer .footer-container>div:not(:last-child){
      border-bottom: 3px solid #898989;
    }
    footer .footer-container>div:not(:first-child){
      margin-top: -2px;
      border-top: 1px solid rgb(75, 75, 75);
    }
    footer ul li{
      display:  inline-block;
      margin: 2px 5px;
    }
  }
</style>

